Repository fivexl/terraform-aws-cloudtrail-to-slack: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-check-syntax, poetry-export-deploy-requirements-src, poetry-export-git-ci-requirements

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
    -   id: codespell
        args: [-C, "3"]
        types_or: [python, rst, markdown, cython, c, terraform]
        additional_dependencies: [tomli]
# Python
-   repo: local
    hooks:
    # Python syntax check - catches syntax errors early
    -   id: python-check-syntax
        name: python syntax check
        description: "Check Python syntax"
        entry: python
        args: [-m, py_compile]
        language: python
        types: [python]
        require_serial: false
    # Poetry export hooks
    -   id: poetry-export-deploy-requirements-src
        name: Export dependencies with Poetry for src
        entry: bash -c 'cd src && poetry export -f requirements.txt --output deploy_requirements.txt && git diff --exit-code deploy_requirements.txt || git add deploy_requirements.txt'
        language: system
        files: src/pyproject.toml$
        pass_filenames: false
    -   id: poetry-export-git-ci-requirements
        name: Export dependencies with Poetry for git-ci
        entry: bash -c 'cd src && poetry export --with dev -f requirements.txt --output requirements.txt && git diff --exit-code requirements.txt || git add requirements.txt'
        language: system
        files: src/pyproject.toml$
        pass_filenames: false
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.2
    hooks:
    -   id: ruff
        args: [--fix, --exit-non-zero-on-fix]
    -   id: ruff-format
# Terraform
-   repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.96.2
    hooks:
    - id: terraform_fmt
      exclude: ^(tests|src/tests)/
    - id: terraform_tflint
      exclude: ^(tests|src/tests)/
    - id: terraform_validate
      exclude: ^(tests|src/tests|examples)/
    - id: terraform_docs
      exclude: ^(tests|src/tests)/
      args:
        - --args=--lockfile=false

feat: fix docs links, add more info to Readme about sns fanout, rename vars.
  README.md
  docs/SNS_FANOUT.md
  examples/sns_fanout_configuration/README.md
  examples/sns_fanout_configuration/main.tf
  examples/sns_fanout_configuration/outputs.tf
  main.tf
  outputs.tf
  src/main.py
  vars.tf
Due: python-check-syntax

fix: log on no records for sns event, catch all errors into the try exept slack notification
  src/main.py
Due: python-check-syntax

fix(cicd ruff): ignore magical values issues, ingnore to many branches for lambda handler and add an comment why.
  src/main.py
  src/tests/test_sns_format.py
Due: python-check-syntax

fix: Variable reassignment causes potential crash and incorrect logging
  src/main.py
Due: python-check-syntax

fix: Local variable `sns_record_count` is assigned to but never used
  src/main.py
Due: python-check-syntax

Change banner image in README
  README.md
Due: none

chore: upgrade to Python 3.14 and latest Terraform providers
  examples/slack_app_configuration/versions.tf
  examples/slack_webhook_configuration/versions.tf
  examples/sns_fanout_configuration/versions.tf
  main.tf
  src/deploy_requirements.txt
  src/docker/Dockerfile
  src/pyproject.toml
  src/requirements.txt
  versions.tf
Due: poetry-export-deploy-requirements-src, poetry-export-git-ci-requirements

fix: regenerate requirements with pip-tools for Python 3.14
  src/deploy_requirements.txt
  src/requirements.txt
Due: none

ci: update workflow to Python 3.14 and Terraform 1.14.8
  .github/workflows/base.yml
Due: none

fix: upgrade ruff to 0.15.x for Python 3.14 target-version support
  src/pyproject.toml
  src/requirements.txt
Due: poetry-export-deploy-requirements-src, poetry-export-git-ci-requirements

fix: resolve ruff lint errors for new ruff 0.15.x
  src/config.py
  src/pyproject.toml
  src/tests/test_message_processing.py
Due: python-check-syntax, poetry-export-deploy-requirements-src, poetry-export-git-ci-requirements

revert: restore original Terraform provider versions
  .github/workflows/base.yml
  examples/slack_app_configuration/versions.tf
  examples/slack_webhook_configuration/versions.tf
  examples/sns_fanout_configuration/versions.tf
  versions.tf
Due: none

Fix license copyright holder
  LICENSE
Due: none

fix: bump black to 26.5.1 to address CVE-2026-31900
  .pre-commit-config.yaml
  src/poetry.lock
  src/pyproject.toml
  src/requirements.txt
Due: poetry-export-deploy-requirements-src, poetry-export-git-ci-requirements

fix: replace eval() with a restricted rule evaluator and patch click/urllib3
  README.md
  main.tf
  src/main.py
  src/poetry.lock
  src/pyproject.toml
  src/requirements.txt
  src/rule_evaluator.py
  src/tests/test_rule_evaluator.py
Due: python-check-syntax, poetry-export-deploy-requirements-src, poetry-export-git-ci-requirements
